@font-face {
  font-family: 'My_Gotham';
  src: url('../fonts/gotham/Gotham-Book.eot');
  src: url('../fonts/gotham/Gotham-Book.woff2') format('woff2'),
       url('../fonts/gotham/Gotham-Book.woff') format('woff'),
       url('../fonts/gotham/Gotham-Book.ttf') format('truetype'),
       url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'My_Gotham';
  src: url('../fonts/gotham/Gotham-Medium.eot');
  src: url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

